body {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#6713d2),
        to(#cc208e)
    );
    color: white;
    text-shadow: 1px 1px 5px black;
}

h1 {
    text-align: center;
    color: rgb(251, 255, 0);
}
h3 {
    text-align: center;
}
input#nome {
    border-style: groove;
    border-radius: 16px;
    text-align: center;
}

body {
    background-color: rgb(0, 101, 141);
}

h1 {
    text-align: center;
    color: darkorange;
}
h3 {
    text-align: center;
}
input#nome {
    border-style: groove;
    border-radius: 16px;
    text-align: center;
}
div {
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    border-radius: 20pt;
    padding-left: 16pt;
    padding-top: 04pt;
    padding-right: 16pt;
    padding-bottom: 16pt;
}
